{
	"presets": [
		[
			"@babel/preset-env",
			{
				"targets": {
					"node": "current"
				}
			}
		]
	],
	"plugins": [
		"@babel/plugin-proposal-optional-chaining",
		[
			"module-resolver",
			{
				"alias": {
					"@config": "./configurations.js",
					"@knexFile": "./knexfile.js",
					"@app": "./src/app.js",
					"@services": "./src/services/index.js",
					"@auth": "./src/modules/auth",
					"@users": "./src/modules/users",
					"@teams": "./src/modules/teams",
					"@src": "./src",
					"@tests": "./tests"
				}
			}
		]
	]
}
